// Place all the styles related to the Quantic controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// Place all the styles related to the quantic controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Place all the styles related to the Quantic controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// Place all the styles related to the quantic controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.nav-item {
  padding: 10px; 
}

a:link, a:visited, a:hover  {
  color: #171f21;
  text-decoration: none;
}


.carousel-inner {
    text-shadow: 2px 2px #192825;
    word-spacing: 15px;
    color: #b6b2ba;
}

.nav-item {
  font-size: 18pt;
}

.btn-search {
  border: 1px solid #acacac;
}

.row .form-inline {
	margin-top: 20px;
}