<div class="container-fluid">
   
    <!-- <h1>Quantic#browse</h1>
    <p>Find me in app/views/quantic/browse.html.erb</p> -->


    <style>
        .dropdown{
            position: relative;
            display: inline-block;
        }
        .dropdown-content{
            display: none;
            position: relative;
            background-color: #f9f9f9;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	    z-index: 1;
        }
        .dropdown:hover .dropdown-content{
            display: block;
        }
        .desc{
            padding: 15px;
            text-align: center;
        }
    </style>
    
    <!--
    <h1><font size="4">ADVERTISING, MARKING, & PR</font></h1>
    <div class="dropdown">
        <%= image_tag("logo-advice-local", :alt => "Advice Local", :width => "265", :height => "55") %>
        <div class="dropdown-content">
            <div class="desc">
                <font size="2">blah blah blah</font>
            </div>
        </div>
    </div>
    
    // <div class="dropdown">
        <%= image_tag("AutoSnap", :alt => "AutoSnap Live", :width => "265", :height => "55") %>
        <div class="dropdown-content">
            <div class="desc">
                <font size="2">bleh</font>
            </div>
        </div>
    </div> //
    
    
    
    
    
    <h1><font size="3">ARTIFICIAL INTELLIGENCE</font></h1>
    <h1><font size="3">BUSINESS-TO-BUSINESS</font></h1>
    <h1><font size="3">BUSINESS-TO-CONSUMER</font></h1>
    <h1><font size="3">BUSINESS-TO-GOVERNMENT</font></h1>
    <h1><font size="3">BIOTECH</font></h1>
    <h1><font size="3">BITCOIN</font></h1>
    <h1><font size="3">BLOCKCHAIN</font></h1>
    <h1><font size="3">CONSUMER PRODUCTS</font></h1>
    <h1><font size="3">CONSUMER SERVICES</font></h1>
    <h1><font size="3">DATA & INFORMATION</font></h1>
    <h1><font size="3">ECOMMERCE</font></h1>
    <h1><font size="3">EDUCATION</font></h1>
    <h1><font size="3">ENERGY</font></h1>
    <h1><font size="3">FOOD</font></h1>
    <h1><font size="3">GAMING</font></h1>
    <h1><font size="3">GOVERNMENT</font></h1>
    <h1><font size="3">HEALTH</font></h1>
    <h1><font size="3">MEDIA & ENTERTAINMENT</font></h1>
    <h1><font size="3">MONEY</font></h1>
    <h1><font size="3">REAL ESTATE TECHNOLOGY</font></h1>
    <h1><font size="3">RETAIL</font></h1>
    <h1><font size="3">RIDESHARING</font></h1>
    <h1><font size="3">SECURITY</font></h1>
    <h1><font size="3">SMART CITIES</font></h1>
    <h1><font size="3">SPORTS</font></h1>
    <h1><font size="3">TRANSPORTATION</font></h1>
    <h1><font size="3">TRAVEL</font></h1>
    <h1><font size="3">VR/AR</font></h1>-->
    
</div>

