<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<div class="carousel slide" id="carousel-174638">
				<ol class="carousel-indicators">
					<li data-slide-to="0" data-target="#carousel-174638">
					</li>
				</ol>
				<div class="carousel-inner">
					<div class="carousel-item active">
						<%= image_tag("business4-2.jpg", :alt => "Business") %>
						<div class="carousel-caption" style="margin-bottom: 180px;">
							<a style="font-size: 75pt">Quantic</a>
						</div>
						<div class="carousel-caption">
							<a style="font-size:20pt">Startups  Analytics  Insight  Connection </a>
						</div>
					</div>
				</div>
				<a class="carousel-control-prev" href="#carousel-174638" data-slide="prev"><span class="carousel-control-prev-icon">
					</span> <span class="sr-only">Previous</span></a> 
				<a class="carousel-control-next" href="#carousel-174638" data-slide="next"><span class="carousel-control-next-icon">
					</span> <span class="sr-only">Next</span></a>
			</div>
			<h2>
				Elevator Statement
			</h2>
			<p>For SAIC stakeholders who need to evaluate and engage with the startup companies. The Quantic is a startup 
			recommender that will provide the stakeholders with information on the startup companies. Unlike other general management 
			tools, our solution/product will provide our stakeholders with recommended startups, information about the startup 
			companies, and how their technologies can be aligned with various SAIC projects.
			</p>
			<p>
				<a class="btn"><%= link_to "About", quantic_about_path %> »</a>
			</p>
			<dl>
				<dt>
					About Startups at Capitol Factory
				</dt>
				<dd>
					Texas is the most promising technology investment opportunity in the United States and Capital Factory is going to turbocharge it. 
					Already the 10th largest economy in the world, there is still untapped potential and more growth in its future. By connecting Austin, 
					Dallas, Houston, San Antonio and the rest of the state into a Texas Startup Megatropolis we can unlock billions of dollars in 
					capital and unleash thousands of diverse entrepreneurs.
				</dd>
				<dt>
					Accelerator Program at Capitol Factory
				</dt>
				<dd>
					The Accelerator gives Texas startups a competitive advantage in attracting talent, advisors, investors and customers. We focus on helping 
					startups raise funding and increase customer growth by providing coworking space, hosting credits, a Startup Evangelist to advocate 
					for your startup, and access to a mentor network of the top investors and entrepreneurs in Texas.				
				</dd>
			</dl>
		</div>
	</div>
</div>